
.multilevelSideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top left, rgba(32, 32, 32, 0), rgb(10, 10, 10));
  overflow-x: hidden;
  padding-top: 60px;
  
}

.multilevelSideNav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

multilevelSideNav a:active {
  background-color: yellow;
}

.multilevelSideNav a:hover {
  color: black;
}

.multilevelSideNav .closebtn {
  position: absolute;
  top: 0;
  right: 1px;
  font-size: 32px;
  margin-left: 0px;
}

@media screen and (max-height: 450px) {
  .multilevelSideNav {padding-top: 5px;}
  .multilevelSideNav a {font-size: 8px;}
}