
.body{
    background-color: rgb(234, 236, 241);
    font-family: 'Open Sans', sans-serif;
    color: rgb(18, 10, 80);
}
.header2{
  font-size: 30px;
  text-emphasis: filled double-circle blue;
  text-emphasis-color: red;
}

.header1{
  font-size: 40px;
  text-emphasis: normal;
}
.pagetitle{
  font-size: 70px;
}
  #wrapper {
    height: 100%;
    width: 100%;
    
    /* flex-direction: row; */
    background: #c9d1e2;
  }
  
  #top {
    flex: 1;
    display: flex;
  }
  
  #middle {
    flex: 1;
    display: flex;
  }

  #columnChart {
    width: 30%;
    height: 40%;
    flex: 1;
   
  }
  
  #highChart {
    width: 30%;
    height: 25%;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
  
  #pieChart {
    width: 40%;
  }
  #midChart1 {
    width: 40%;
  }
  #midChart2 {
    width: 50%;
  }
  
  #myGrid {
    flex: 2;
    z-index: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    height:100%;
    /* display: grid; */
  }

#gen-nav{
    color:rgb(17, 3, 122) !important;
    padding-top:'8px';
    font-weight:"bold" !important;
    /* font-weight: bold; */
    /* text-emphasis: filled double-circle blue; 
    background-color: rgb(244, 245, 247);*/
}
